@import '~antd/dist/antd.css';

/*
color sheme
https://www.schemecolor.com/christmas-songs.php
*/

.container {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "Gill Sans", sans-serif;
  padding: 2px 3px;
}

.studio-container {
  margin: 0 auto;
  font-family: "Gill Sans", sans-serif;
}



.App .Header {
  height: 50px;
  background: #034F1B;
  color: #E6DCB1;
}

.App .Main {
  min-height: calc( 100vh - 80px );
}

.App .Footer {
  height: 30px;
  color: #E6DCB1;
  background: #034F1B;
}

.debug {
  background: rgba( 30, 30, 30, 0.75 );
  color: #0f0;
  font-size: 0.75em;
  height: 50vh;
  overflow: auto;
  padding: 3px 3px;
  position: fixed;
  right: 0;
  top: 0;
  width: 30vw;
}

.App .debug pre {
  font-family: system-ui;
}