@import '~antd/dist/antd.css';

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.App .Header {
  height: 50px;
  background: green;
}

.App .Main {
  min-height: calc( 100vh - 80px );
}

.App .Footer {
  height: 30px;
  background: green;
}

.App .debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  background: rgba( 0, 0, 0, 0.75 );
  color: #0f0;
  font-size: 0.75em;
}