.Guest .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  aspect-ratio: calc( 16 / 9 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Guest .wrapper .video-view {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.Guest .wrapper .video-view video {
  width: 100%;
  height: 100%;
  transform: scale( -1, 1 );
}

.Guest .wrapper .controller {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Guest .wrapper .cancel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}

.Guest .wrapper .operation {
  position: absolute;
  top: 18vh;
  right: 0;
  z-index: 1001;
}

.Guest .wrapper .mute {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1001;
}

.Guest .wrapper .video-mute {
  position: absolute;
  bottom: 5px;
  right: 35px;
  z-index: 1001;
}