.CoverIndicator {
  border: 1px solid #aaa;
  position: absolute;
  top: 60px;
  left: 3px;
  width: 250px;
}

.CoverIndicator[data-visible=false] {
  display: none;
}

.CoverIndicator .img-wrapper {
  align-items: center;
  aspect-ratio: calc( 16 / 9 );
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.CoverIndicator .img-wrapper .img {
  width: 100%;
}