/* source-videos.css */
.SourceVideo .videoWrapper {
  align-items: center;
  aspect-ratio: calc( 16 / 9 );
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.SourceVideo .videoWrapper video {
  display: block;
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.SourceVideo .videoWrapper video.mycam {
  transform: scale( -1, 1 );
}



.SourceVideo .videoWrapper .meta {
  position: absolute;
  background: rgba( 126, 18, 29, 0.75 );
  color: #E6DCB1;
  font-weight: bold;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  width: 100%;
}

.SourceVideo .videoWrapper .layout-num {
  user-select: none;
  color: #fff;
  cursor: pointer;
  padding: 0 2px;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em;
  top: 0;
  left: 0;
}

.SourceVideo .videoWrapper .close {
  user-select: none;
  background: #ccc;
  color: #000;
  cursor: pointer;
  padding: 0px 0px;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em;
  top: 0;
  right: 0;
}

.SourceVideo .videoWrapper .playback-control {
  user-select: none;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.SourceVideo .videoWrapper .mute {
  user-select: none;
  color: #fff;
  padding: 0px 0px;
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  bottom: 0;
  right: 3px;
  z-index: 1000;
}

.SourceVideo .videoWrapper .video-mute {
  user-select: none;
  color: #fff;
  padding: 0px 0px;
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  bottom: 0;
  right: 23px;
  z-index: 1000;
}