.Studio {
  overflow: hidden;
}

.Studio .wrapper {
  aspect-ratio: calc(16 / 9);
  background: #000;
  position:relative;
  margin: 0 auto;
}

.Studio .wrapper canvas {
  height: 100%;
  position: absolute;
  aspect-ratio: calc( 16 / 9 );
}

.Studio .wrapper .debug-studio {
  background: rgba( 0, 0, 0, 0.5 );
  bottom: 0;
  color: cyan;
  font-size: 0.75em;
  height: 50%;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 40%;
}