.Studio {
  aspect-ratio: calc(16 / 9);
  background: #000;
  position:relative;
  margin: 3px 0;
  width: calc( 100vw - 6px );
}

.Studio canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.Studio .debug-studio {
  background: rgba( 0, 0, 0, 0.5 );
  bottom: 0;
  color: cyan;
  font-size: 0.75em;
  height: 50%;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 40%;
}